*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: #ebbddb;
    color: rgb(227, 237, 237);
}

nav{
    background-color: #e890c8;
    color: rgb(227, 237, 237);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo{
    font-size: 1.5em;
    font-weight: bold;
}
.nombre{
    font-size: 1.2em;
}

.Contenido{
    background-color: #e890c8;
    margin: 50px auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(red, green, blue);
}

.Contenido h2{
    margin-bottom: 10px;
}

.Contenido ul{
    list-style: none;
    padding: 0;
}

.Contenido ul li{
    margin: 10px 0;
}

.Contenido a{
    text-decoration: none;
    color: rgb(11, 22, 224);
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Contenido a:hover{
    text-decoration: underline;
}

.pie {
    text-align: center;
    padding: 20px;
    background-color: #e890c8;
    width: 100%;
    position: relative;
}
.footer-nav {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.footer-nav a {
    color: rgb(227, 237, 237);
    text-decoration: none;
}

html,body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.contenido{
    flex: 1;
}